/* Paleta de colores
	Celeste rgba(54,169,224,1)
	Violeta rgba(162,25,91,1)
	Verde manzana rgba(149,193,30,1)
	Rojo rgba(190,22,33,1)
	Verde agua rgba(0,160,154,1)
	Naranja rgba(243,146,0,1)
	Amarillo rgba(249,178,51,1)
	Gris rgba(87,87,86,1)
	 */

	html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        
		
    }

	body{
		font-family: 'Roboto Condensed', sans-serif;
	}

	#svg7826{/*NAV SCROLL LOGO*/
		height: 186px;
    	position: fixed;
    	top: -200px;/*Needs to be 14px to show*/
    	left: 125px;
    	z-index: 120;
		
	}

	#logo-tresce-svg{/*MAIN LOGO SVG*/
		width: 430px;
		height: 510px;
		opacity: 0;
		/* position: fixed;
		top:200px; */
	}

	img#nav-logo{
		height: 88px;
    	position: absolute;
    	top: 14px;
    	left: 125px;
	}

	#nav{
		background-color:rgba(87,87,86,1);
		height: 116px;
		position: fixed;
	    width: 100%;
	    left: 0;
	    top: 0;
	    z-index: 100;
	    border-top: 0;
	}

	#nav a#back-to-top{
		position: fixed;
		text-align: center;
		line-height: 30px;
		height: 36px;
		width: 36px;
		bottom:-36px;
		right:5px;/*To display, set to 30px;*/
		font-size: 36px;
		z-index: 150;
		color: rgba(194,195,200, 1);
		transition: color .5s;
		opacity: 0;
		
	}

	#nav a#back-to-top:hover{
		color: rgba(255,255,255, 1);
		
	}

	#nav ul.nav{
		margin-right: 125px;
		margin-top:30px;
	}

	#nav ul.nav li{
		margin-left: 10px;
	
	}

	#nav a{
		color: rgba(194,195,200, 1);
		font-weight: bold;
		text-transform: uppercase;
		font-size: 18px;
		letter-spacing: 2px;
		border-bottom-color: transparent;
		border-bottom-width: 3px;
		border-bottom-style: solid;
		transition: color .5s,border-bottom-color .5s;
	}



	#nav ul.nav a:hover,#nav ul.nav a:focus{
		border-bottom-color: white;
		border-bottom-width: 3px;
		border-bottom-style: solid;
		background: none;
		color: rgba(255,255,255, 1);
	}
	
	#nav ul.nav a#link-tresce i,
	#nav ul.nav a#link-nosotros i,
	#nav ul.nav a#link-proyectos i,
	#nav ul.nav a#link-hola i{
		color: rgba(194,195,200, 1);
		transition: color .5s;
	}

	#nav ul.nav a#link-tresce:hover i,
	#nav ul.nav a#link-tresce:focus i{
		color:rgba(230,181,72,1);
	}

	#nav ul.nav a#link-nosotros:focus i,
	#nav ul.nav a#link-nosotros:hover i{
		color:rgba(160,16,39,1);
	}
	
	#nav ul.nav a#link-proyectos:focus i,
	#nav ul.nav a#link-proyectos:hover i{
		color:rgba(163,189,49,1);
	}

	#nav ul.nav a#link-hola:focus i,
	#nav ul.nav a#link-hola:hover i{
		color:rgba(118,170,219,1);
	}

	#intro{
		margin-top:116px;
		padding-top: 50px;
		padding-bottom: 50px;
		min-height: 500px;
	}
	#intro div{
		text-align: center;
	}

	#logo{
		width:430px;
	}

	section{
		min-height: 500px;
	}

	
	section .contenido-seccion{
		text-align: center;
		margin-top: 100px;
		margin-bottom: 100px;
	}

	section .contenido-seccion h2{
		font-size: 46px;
		text-transform: uppercase;
		font-weight: 800;
		margin-bottom: 30px;
	}

	section .contenido-seccion p{
		font-size: 24px;
	}

	section#tresce{
		background-image: url(/tresce/assets/images/gender-slider4.jpg);
		background-size: 1920px 500px;
		background-position: center center;
		height:300px;
		transition:background-size 0.3s;
	}

	section#tresce:hover{
		background-size: 2000px 521px;
	}

	section#tresce .contenido-seccion{
		background-color: rgba(255,255,255,.9);
		height: 285px;
		padding-top: 15px;
		
		
		
	}

	section#tresce .contenido-seccion h2{

	}
	
	/* PROYECTOS */
	section#proyectos{
		background-color: rgba(255,255,255,1);
		height:300px;
		
	}

	section#proyectos .contenido-seccion{
		background-color: rgba(255,255,255,1);
		height: 300px;
		
		
		color: rgba(87,87,86,1);
		transition: color 0.5s;
	}

	/* SETRATADETI */
	section#setratadeti{
		background-color: rgba(255,255,255,1);
		height:800px;
	}

	section#setratadeti .contenido-seccion{
		/* background-image: url(/tresce/assets/images/se-trata-de-ti-bg-left.png)
		, url(/tresce/assets/images/se-trata-de-ti-bg-right.png);
		    	background-position: left top, right top;
		    	background-repeat: no-repeat, no-repeat;
		    	background-size: 460px 591px, 460px 591px;
		 */
		background-color: rgba(255,255,255,1);
		height: 591px;
		
		color: rgba(87,87,86,1);
		transition: color 0.5s;
	}
	
	section#setratadeti .contenido-seccion h2{
		top:350px;
		opacity: 0;
	}

	section#setratadeti .contenido-seccion #setratadeti-bg-container{
		width:920px;
		height: 591px;
		margin: auto;
		position: relative;
		overflow-x: hidden;
	}

	section#setratadeti .contenido-seccion #setratadeti-bg-container #se-trata-de-ti-bg-left{
		position: absolute;
		top:0px;
		left: 2000px;
		width: 460px;
		height: 591px;
		opacity: 0;
	}
	section#setratadeti .contenido-seccion #setratadeti-bg-container #se-trata-de-ti-bg-right{
		position: absolute;
		top:0px;
		left: -460px;
		width: 460px;
		height: 591px;
		opacity: 0;
	}

	#btn-info, #btn-video, #btn-camera{
		border-radius: 30px;
		background-color: rgba(255,255,255,1);
		color:  rgba(0,0,0,1);;
		width: 40px;
		transition:background-color .5s, color .5s;
	}

	#btn-info:hover, #btn-video:hover, #btn-camera:hover,
	#btn-info:focus, #btn-video:focus, #btn-camera:focus
	{
		background-color: rgba(0,0,0,1);
		color: rgba(255,255,255,1);
	}
	section#setratadeti .contenido-seccion #setratadeti-bg-container #btn-info{
		position: absolute;
		top:530px;
		left:745px;
		font-size: 30px;
		
	}

	section#setratadeti .contenido-seccion #setratadeti-bg-container #btn-video{
		position: absolute;
		top:530px;
		left:800px;
		font-size: 30px;
		
	}

	section#setratadeti .contenido-seccion #setratadeti-bg-container #btn-camera{
		position: absolute;
		top:530px;
		left:855px;
		font-size: 30px;
		
	}

	#logo-setratadeti{
		position: absolute;
		top:125px;
		left: 356px;
		opacity: 0;
		

	}

	section#setratadeti #info-container,
	section#setratadeti #video-container{
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
	}

	section#setratadeti #info-container h3,
	section#setratadeti #video-container h3{
		font-size: 46px;
		text-transform: uppercase;
		font-weight: 800;
		margin-bottom: 30px;
	}

	section#setratadeti #info-container p,
	section#setratadeti #video-container p{
		font-size: 24px;
	}

	/* NOSOTROS */
	section#nosotros{
		background-color: rgba(0,160,154,1);
		height:300px;
		position: relative;
	}

	section#nosotros .contenido-seccion{
		color: rgba(255,255,255,1);
		height: 300px;
		
		

	}

	section#nosotros .contenido-seccion p{
		opacity: 0;
	}

	section#nosotros #keyword-arte,
	section#nosotros #keyword-calidad,
	section#nosotros #keyword-excelencia{
		position:absolute;
		opacity: 0;
		color: rgba(255,255,255,.2);
		font-size: 72px;

	}
	
	section#nosotros #keyword-arte{
		top:250px;
		left:-30px;
		font-size: 190px;
	}

	section#nosotros #keyword-calidad{
		top:420px;
		left:1200px;
		font-size: 80px;
	}

	section#nosotros #keyword-excelencia{
		top:-70px;
		left:400px;
		font-size: 120px;
	}

	section#nosotros h2{
		opacity: 0;
	}

	#arte-que-ilumina{

	}

	section#hola{
		background-color: rgba(255,255,255,1);
		
		height:300px;
	}

	section#hola .contenido-seccion{
		background-color: rgba(255,255,255,1);
		height: 300px;
		margin-top: 100px;
		margin-bottom: 100px;
		color: rgba(87,87,86,1);
		transition: color 0.5s;
	}

	section#hola:hover .contenido-seccion{
		
	}

	footer{
		
		background: rgba(87,87,86,1); 
		color: rgba(194,195,200, 1);
		padding-top: 50px;
		padding-bottom: 70px;
		font-size:18px;
		
	}
	
	footer .contact{
		color: rgba(194,195,200, 1);
		transition: color .5s;
	}

	footer .contact:hover{
		color: rgba(255,255,255,1);
		transition: color .5s;
	}

	footer #redes{
		margin-top: 45px;
		font-size: 36px;
	}

	footer #redes a{
		color: rgba(194,195,200, 1);
		transition: color .5s;
		margin-right: 20px;
	}

	footer #redes a:hover{
		color: rgba(255,255,255, 1);
		transition: color .5s;
	}

	#svgcontainer{
		position: absolute;
		left: -999em;
	}
	h1{
	}

	h2{
	}

	/* MODALES */

	.modal#modalGaleria{
		overflow: hidden;
	}

	.modal#modalGaleria .modal-content{
		width: 800px;
		left:-25%;
	}


	.modal h3.titulomodal{
		font-size: 46px;
		text-transform: uppercase;
		font-weight: 800;
	}

	.modal p{
		font-size: 18px;
	}

	.modal .modal-header #modal-arte-que-ilumina-container{
		float: right;
		position: relative;
	}

	.modal .modal-header h4{
		font-size: 46px;
		text-transform: uppercase;
		font-weight: 800;
	}

	.modal #modal-arte-que-ilumina-container svg{
		transform:scale(0.5);
		position: absolute;
		top:-113px;
		left: -112px;
	}
	.modal #modal-arte-que-ilumina-container svg #path12845,
	.modal #modal-arte-que-ilumina-container svg #path12849,
	.modal #modal-arte-que-ilumina-container svg #path12853,
	.modal #modal-arte-que-ilumina-container svg #path12857,
	.modal #modal-arte-que-ilumina-container svg #path12861,
	.modal #modal-arte-que-ilumina-container svg #path12865,
	.modal #modal-arte-que-ilumina-container svg #path12869,
	.modal #modal-arte-que-ilumina-container svg #path12873,
	.modal #modal-arte-que-ilumina-container svg #path12877,
	.modal #modal-arte-que-ilumina-container svg #path12881,
	.modal #modal-arte-que-ilumina-container svg #path12885,
	.modal #modal-arte-que-ilumina-container svg #path12889,
	.modal #modal-arte-que-ilumina-container svg #path12893,
	.modal #modal-arte-que-ilumina-container svg #path12897
	{
		display: none;
	}


	#modalInfo .modal-body{
		padding-top: 50px;

	}

	#modalGaleria{
		height: 600px;
	}

	#modalGaleria .modal-dialog{
		height: 500px;
	}

	#modalGaleria .modal-body{
		height: 500px;
	}

	#modalGaleria img{
		height: 400px;
	}

@media screen and (max-width: 767px) {
	#nav{
		height: 50px;
	}

	#nav ul.navbar-nav{
		padding: 0;
		margin-right: 0;
		margin-top: 5px;
	}

	#nav #nav-logo{
		left:230px;
		height: 50px;
		top:10px;
	}
	
	#nav ul.navbar-nav li{
		display: inline;
		float: left;
	}

	#nav ul.navbar-nav li a span.nav-text{
		display: none;
	}
	
	section{
		min-height: 300px;
		margin-top:0px;
		padding-top: 30px;
	}

	section .contenido-seccion{
		text-align: center;
		padding-top: 0px;
		padding-bottom: 0px;
		margin-top: 0px;
		margin-bottom: 0px;
	}

	section .contenido-seccion h2{
		font-size: 26px;
		text-transform: uppercase;
		font-weight: 800;
		margin-bottom: 20px;
	}

	section .contenido-seccion p{
		font-size: 16px;
	}

	#intro{
		padding-bottom: 0px;
		margin-top: 0;
	}
	#intro div{
		text-align: center;
	}

	#logo{
		width:430px;
	}

	
	section#tresce{
		min-height: 300px;
	}

	#logo-tresce-svg{
		width:250px;
	}

	#svg7826{/*NAV SCROLL LOGO*/
    	position: fixed;
    	top: -200px;/*Needs to be 14px to show*/
    	left: 200px;
    	z-index: 120;
		
	}

	#logo-tresce-scroll{
		width:250px;
	}

	#arte-que-ilumina-container{
		display: none;
	}
	
	
}